* {
	margin: 0; padding: 0;

	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;

	user-select: none;
}

#app {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

.tab {
	position: absolute;
	left: 200px; right: 0; top: 0; bottom: 0;
	padding: 4px;
	display: flex;
	flex-flow: column nowrap;
	gap: 4px;
	align-items:end;
	overflow: auto;
}

button {
	padding: 4px;
	border: none;
	border-radius: 4px;
	background-color: #0000003f;
}
